.quizPresenter{
	border: 5px double #66CCFF;
	width: auto;
	font-size: 1.5em;
}
.English{
	background: #fff;
	color: #000;
}
.English::before{
	content: 'English Sentence:';
	font-style: italic;
	font-size: 0.8em;
}
.pinyin{
	background: #003366;
	border: 1px solid #003366;
	padding-top: 15px;
}
.pinyin::before{
	content: 'Mandarin Sentence in Pinyin:';
	font-style: italic;
	font-size: 0.8em;
}
.correctResult{
	background: #99CC99;
	border: 1px solid #99CCFF;
	color: #028482;
}
.correctResult::before{
	font-family: 'FontAwesome';
	content: '\f058';
	color: #028482;
}
.wrongResult{
	background: #EC799A;
	border: 1px solid #EC799A;
	color: #fff;
}
.wrongResult::before{
	font-family: 'FontAwesome';
	content: '\f00d';
	color: #fff;
}
.fa{
	font-size: 1em;
}
.result{
	display: none;
}